<div id="<%= dom_id book %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= book.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Rate:</strong>
    <%= book.rate %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= book.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Author:</strong>
    <%= book.author_id %>
  </div>
</div>
